{% extends "main.html" %}
{% block content %}
<main>

<h1>Add Restaurant</h1>

<form method="POST">
    {% csrf_token %}

    <label>Name:</label><br>
    <input type="text" name="name"><br><br>

    <label>Description:</label><br>
    <textarea name="description"></textarea><br><br>


    <input type="hidden" name="latitude" id="latitude">
    <input type="hidden" name="longitude" id="longitude">


    <div id="map" style="height:300px;"></div><br>

    <button type="submit">Submit</button>
</form>


<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY
"></script>

<script>
let map;
let marker;

function initMap() {
    const defaultLocation = { lat: 41.0082, lng: 28.9784 };

    map = new google.maps.Map(document.getElementById("map"), {
        zoom: 13,
        center: defaultLocation,
    });

    map.addListener("click", function (event) {
        const lat = event.latLng.lat();
        const lng = event.latLng.lng();

        document.getElementById("latitude").value = lat;
        document.getElementById("longitude").value = lng;

        if (marker) {
            marker.setMap(null);
        }

        marker = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            map: map,
        });
    });
}

window.onload = initMap;
</script>

</main>
{% endblock %}