{% extends 'main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/card.css' %}">
<div class="login_register">
    <div class="login_register-box" style="text-align: center;">
        <div class="name" style="color: #7e0909; font-size: 24px;">Delete Restaurant ?</div>
        <p style="margin: 20px 0;">Are you sure you want to delete <strong>{{ restaurant.name }}</strong>? This action cannot be undone.</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn" style="background-color: #7e0909; width: 100%; margin-bottom: 10px;">Delete</button>
        </form>
    </div>
</div>
{% endblock %}