{% extends "main.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
</head>

<main>

<body>
<h1 class="title">Top Rated Restaurants</h1>

<div class="container">
{% for r in top_rated %}
    <div class="card">
        {% if r.image %}
            <img src="{{ r.image.url }}" alt="{{ r.name }}">
        {% else %}
            <img src="https://via.placeholder.com/400x300?text=No+Image">
        {% endif %}

        <div class="card-body">

            <div class="name">{{ r.name }}</div>

            <div class="meta">
                {{ r.city }} {% if r.district %}- {{ r.district }}{% endif %}
            </div>

            <div class="meta">
                {% for cat in r.categories.all %}
                <span>{{ cat.name }}</span>
                {% endfor %}
            </div>

            <div class="desc">
                {{ r.description|default:"" }}
            </div>

            <div class="bottom">
                <div class="rating">
                    ⭐ {{ r.average_rating }}
                </div>

                <div class="price">
                    {{ r.get_price_range_display }}
                </div>
            </div>

            <a href="{% url 'restaurants:detail' r.id %}" class="btn">
                View Details
            </a>

        </div>

    </div>
{% empty %}
    <p>No ratings yet.</p>
{% endfor %}
</div>

<hr>

<h1 class="title">Newest Restaurants</h1>

<div class="container">
{% for r in newest %}
    <div class="card">

        {% if r.image %}
            <img src="{{ r.image.url }}" alt="{{ r.name }}">
        {% else %}
            <img src="https://via.placeholder.com/400x300?text=No+Image">
        {% endif %}

        <div class="card-body">

            <div class="name">{{ r.name }}</div>

            <div class="meta">
                {{ r.city }} {% if r.district %}- {{ r.district }}{% endif %}
            </div>

            <div class="meta">
                {% for cat in r.categories.all %}
                <span>{{ cat.name }}</span>
                {% endfor %}
            </div>

            <div class="desc">
                {{ r.description|default:"" }}
            </div>

            <div class="bottom">
                <div class="rating">
                    ⭐ {{ r.average_rating }}
                </div>

                <div class="price">
                    {{ r.get_price_range_display }}
                </div>
            </div>

            <a href="{% url 'restaurants:detail' r.id %}" class="btn">
                View Details
            </a>

        </div>

    </div>
{% empty %}
    <p>No restaurants yet.</p>
{% endfor %}
</div>

</body>
</main>
{% endblock %}