{% extends 'main.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
</head>

<body>

    <div class="login_register">

        <div class="login_register-box">

            <div class="name">Login</div>

            <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <button type="submit" class="btn">Login</button>
            </form>


        </div>
    </div>


</body>

{% endblock %}